.App {
  position: absolute;
  margin: 0px;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  text-align: center;
  height: 100%;
  padding: 5px;
  background-color: #282c34;
}

.App-video {
  /* height: 30vmin; */
  pointer-events: none;
}

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

.App-header {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.App-top {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 2%;
}

.logo {
  height: 2em;
  justify-content: center;
  align-items: center;
}

.App-buttons {
  width: 50%;
  flex-direction: column;
  justify-content: center;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
